/*
    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/*  tale main color: #099268 */
/*  tale main text color light: #e6fcf5 */
/*  Main color: #087f5b */
/*  tale main text color dark: #c3fae8 */
/*  grey color for accordian numbers: #343a40 */
/*  tale grey color: #ced4da*/
/*  shaded grey color:  #212529*/
/*  tale grey for button:hover: #f1f3f5 */
/*  tale grey volor for readable text: #868e96 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  background-color: #e6fcf5;
  display: flex;
  justify-content: center;
}
table {
  /* background-color: orangered; */
  margin-top: 100px;
  width: 60%;
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
  font-size: 18px;
}
td,
th {
  /* border: 1px solid #343a40; */
  text-align: left;
  padding: 16px 24px;
}
thead th {
  width: 25%;
  background-color: #087f5b;
  color: #fff;
}
td {
  font-weight: 500;
}
tbody tr:nth-child(even) {
  background-color: #dee2e6;
}
tbody tr:nth-child(odd) {
  background-color: #f1f3f5;
}
